@model IEnumerable<WeatherForecastApplication.Models.WeatherCondition>

    <h1>Weather Conditions</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Date Time</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Wind Speed</th>
            </tr>
        </thead>
    </table>
