@* This Razor view represents the Home Page of the Weather Forecast Application *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the WeatherWise</h1>
    <p>
        This application provides up-to-date weather forecasts by city name, including current conditions
        and a 7-day forecast, helping you plan activities with reliable weather data.
    </p>
</div>
