@* This Razor view represents the Home Page of the Weather Forecast Application *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the WeatherWise</h1>
    <p>
        This application offers weather forecasts by city name, including current conditions, to help you plan activities with accurate and reliable weather information.
    </p>
</div>